      <!-- Perfil component -->
      <div class="sidebar__headerPerfil" >
        <mat-card class="mat-elevation-z0 outline">
        <mat-card-header>
          <div mat-card-avatar class="sidebar__fotoImagen" style="background-image:url('{{this.foto}}'); background-position: center;"></div>
          <mat-card-title style="font-size: 15px;">{{nombre}}</mat-card-title>
          <mat-card-subtitle>{{tipo}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      </div>

      <!-- Perfil component  -->