.mantenimiento__main{
    display:flex;
    height: 90vh;
    width:100%;
    flex-direction: row;

    
}
.mantenimiento__main > div{
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 90vh;

}
.mantenimiento__tabla{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}



